# Postgres DB
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PORT=
PG_POOL_SIZE=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Minio
MINIO_HOST=
MINIO_PORT=
MINIO_WEBCONSOLE_PORT=
MINIO_BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Port for backend server endpoints
SERVER_PORT=

# JWT Secret
JWT_SECRET=
ACCESS_TOKEN_EXPIRES_IN=

# FCM project ID for push notification
FCM_PROJECT_ID=
