# Postgres DB
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
PG_POOL_SIZE=

# Port for backend server endpoints
SERVER_PORT=

# JWT Secret
JWT_SECRET=
ACCESS_TOKEN_EXPIRES_IN=