# Postgres DB
POSTGRES_HOST= # Compose service name of the database, default: db
POSTGRES_DB=
POSTGRES_PORT=
PG_POOL_SIZE=
POSTGRES_USER=
POSTGRES_PASSWORD=

# S3 Storage
S3_API_PORT=
S3_ENDPOINT= # Internal endpoint, "s3" should be the name of the s3 storage compose service, default: http://s3:8333
S3_PUBLIC_ENDPOINT= # Used to serve media externally, domain of the vps
S3_REGION=
S3_BUCKET_NAME=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# Port for backend server endpoints
SERVER_PORT=

# JWT Secret
JWT_SECRET=
ACCESS_TOKEN_EXPIRES_IN=

# FCM project ID for push notification
FCM_PROJECT_ID=
